*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
header{
  width: 90%;
  margin: 0 auto;
}
.navigation {
  min-height: 8vh;
  background: #5b78c7;
  display: flex;
  padding: 20px 20px;
  position: relative;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.navigation__checkbox,
.navigation__button{
  display: none;
}
.navigation__link:link,
.navigation__link:hover,
.navigation__link:focus,
.navigation__link:visited{
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  color: black;
  transition: color .3s;
}
.navigation__link:hover{
  color: aliceblue;
}
.navigation__items{
  display: flex;
  margin-left: auto;
  list-style: none;
  margin-top: 10px;
}
.navigation__item{
  transition: opacity .1s;
}
.navigation__item:not(:last-child){
  margin-right: 15px;
}
@media screen and (max-width: 1000px){
  header{
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .navigation__button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    top: 15px;
    right: 20px;
    position: absolute;
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
  }
  .navigation__icon,.navigation__icon::after,.navigation__icon::before{
    text-align: center;
    width: 25px;
    height: 2px;
    background-color: black;
    transition: all .3s;
    backface-visibility: hidden;
  }
  .navigation__icon{
    position: relative;
  }
  .navigation__icon::after{
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
  }
  .navigation__icon::before{
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
  }
  .navigation__button:hover .navigation__icon::after{
    top: 9px;
  }
  .navigation__button:hover .navigation__icon::before{
    top: -9px;
  }
  .navigation{
    flex-direction: column;
    min-height: 8vh;
    max-height: 8vh;
  }
  .navigation__items {
    flex-direction: column;
    position: relative;
    left: 0;
    width: 100%;
    margin-top: 0px;
  }
  .navigation__item{
    margin-top: 20px;
    visibility: hidden;
    opacity: 0;  
}
  .navigation__checkbox:checked + .navigation {
    min-height: 280px;
  }
  .navigation__checkbox:checked + .navigation .navigation__items{
    height: 0;
  }
  .navigation__checkbox:checked + .navigation .navigation__items .navigation__item{
    visibility: visible;
    opacity: 1  ;
  }
  .navigation__checkbox:checked + .navigation .navigation__button .navigation__icon{
    background-color: transparent;
  }
  .navigation__checkbox:checked + .navigation .navigation__button .navigation__icon::after{
    top: 0;
    transform: rotate(-135deg);
  }
  .navigation__checkbox:checked + .navigation .navigation__button .navigation__icon::before{
    top: 0;
    transform: rotate(135deg);
  }
  
}
