@import url("https://fonts.googleapis.com/css2?family=Asul&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
html{
  font-family: 'Asul', sans-serif;
  font-size: 10px;
}
body {
  width: 100%;
  height: 100vh;
  background-color: #06051e;
}
header{
  width: 100%;
  background-color: #222146;
}
.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem; 
}
nav{
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-brand{
  background-color: #ff4f79;
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  display: flex;
}
.navbar-brand .logo-icon{
  font-size: 4rem;
  color: #ffffff;
  margin: auto;
}
.nav-list{
  display: flex;
  list-style: none;
}
.nav-link{
  font-size: 1.7rem;
  text-decoration: none;
  display: block;
  margin: 0 2rem;
  color: #ffffff;
  transform: scale(0);
  transition: transform .65s;
}
.nav-item{
  position: relative;
  line-height: 8rem;
  transition-delay: .5s;
  visibility: hidden;
}
.nav-item::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ff4f79;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .65s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.nav-item:hover::before{
  transform: scaleX(1);
  transform-origin: left;
}
.hamburger{
  width: 3.6rem;
  height: 1.8rem;
  position: relative;
  cursor: pointer;
  line-height: 5rem;
  z-index: 150;
}
.hamburger .line{
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  display: block;
  right: 0;
  transition: all .65s;
}
.hamburger .line:nth-child(1){
  top: 0;
}
.hamburger .line:nth-child(2){
  top: 50%;
  margin-top: -1px;
  width: 2.8rem;
}
.hamburger .line:nth-child(3){
  top: 100%;
  margin-top: -2px;
  width: 2rem;
}
.hamburger.active .line:nth-child(1){
  transform: translateY(.8rem) rotate(45deg);
  width: 2rem;
}
.hamburger.active .line:nth-child(2){
  opacity: 0;
}
.hamburger.active .line:nth-child(3){
  transform: translateY(-.8rem) rotate(-45deg);
  width: 2rem;
}
.nav-list.active .nav-link{
  transform: scale(1);
}
.nav-list.active .nav-item{
  visibility: visible;
  transition-delay: initial;
}
.nav-list.active .nav-item:nth-child(1) .nav-link{
  transition-delay: .5s;
}
.nav-list.active .nav-item:nth-child(2) .nav-link{
  transition-delay: .4s;
}
.nav-list.active .nav-item:nth-child(3) .nav-link{
  transition-delay: .3s;
}
.nav-list.active .nav-item:nth-child(4) .nav-link{
  transition-delay: .2s;
}
.nav-list.active .nav-item:nth-child(5) .nav-link{
  transition-delay: .1s;
}

/*Reverse transition*/
.nav-list .nav-item:nth-child(1) .nav-link{
  transition-delay: .1s;
}
.nav-list .nav-item:nth-child(2) .nav-link{
  transition-delay: .2s;
}
.nav-list .nav-item:nth-child(3) .nav-link{
  transition-delay: .3s;
}
.nav-list .nav-item:nth-child(4) .nav-link{
  transition-delay: .4s;
}
.nav-list .nav-item:nth-child(5) .nav-link{
  transition-delay: .5s;
}
@media screen and (max-width:768px){
    .nav-list{
      width: 100%;
      height: 100vh;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #222146;
      position: fixed;
      bottom: -100vh;
      left: 0;
      transition: bottom .65s;
    }
    .nav-list.active{
      bottom: 0;
    }
}